
/*
--------------------------------------------------------------
01. CSS Reset
--------------------------------------------------------------
*/

/* Box-sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Reset images */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts over defaults */
input,
button,
textarea,
select {
    font: inherit;
}
