//Colors

$text-color: #000;
$bg-color: #fff;
$gold: #fec333;
$link-color: #6b541e;
$dark-grey: #585858;
$light-grey: #a7a7a7;

//Fonts

$font-stack: 'Open Sans', sans-serif; 
$font-size-large: 36px;
$font-size-normal: 20px;
$font-size-small: 12px;

body {
    font-family: $font-stack;
}